/*-----------------------------------------------
   Responsive
-----------------------------------------------*/

.position-text{
    text-align: center;
}

@media (max-width: 1201px) { /* Para celulares */
    .card {
        border: none !important;
        box-shadow: none !important;
        background: transparent !important;
        padding: 0 !important;
    }
    
    .position-text{
        text-align: start;
    }

    .offcanvas-width {
        width: 60%;
    }
}

/*-----------------------------------------------
    Calendar
-----------------------------------------------*/
.calendar {
    /* width: 300px; */
    padding: 10px;
    background-color: #2c2c34;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays-habit, .days-habit {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.weekdays div, .days div, .weekdays-habit div, .days-habit div {
    padding: 10px;
    border-radius: 5px;
}

.days div.selected, .days-habit div.selected {
    background-color: #8a4eff;
    color: #fff;
}

.days div.done, .days-habit div.done{
    background-color: #ff4e4e;
    color: #fff;
    height: 100%;
}

.days div.day:hover, .days-habit div.day:hover{
    background-color: #4e4e5c;
    cursor: pointer;
}

/*-----------------------------------------------
    Habit Progress
-----------------------------------------------*/

.offcanvas-width {
    width: 30%;
}

